

.font{
    font-family: "Oswald", sans-serif;
}

.team-member-img {
    height: 250px;
    object-fit: cover;
}

.signature-menu {
    background-image: url('img/joppe-spaa-TsYzva0e2pQ-unsplash.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0;
    position: relative;
    height: 550px; /* Fixed height for larger screens */
}
.signature-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.signature-menu-content {
    position: relative;
    z-index: 1;
}
.homemade {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
    max-width: 100%;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.list-unstyled li a{
    text-decoration: none;
}

#carouselExampleIndicators {
    max-width: 100%;
    margin: 0 auto;
}
.carousel-item img {
    height: 550px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .signature-menu {
        background-size: 100% 300px; /* Adjust width and height for mobile */
        height: 300px; /* Fixed height for mobile */
        padding: 20px 0;
    }
    h1 {
        font-size: 1.8rem;
    }
    p {
        font-size: 0.9rem;
    }
}


@media (max-width: 767px) {
    #carouselExampleIndicators {
        width: 100%;
    }
    .carousel-item img {
        height: 275px; /* 50% of original height */
    }
  
}



